<?xml version="1.0" encoding="UTF-8"?>

<launch>
   <arg name="confidence" default="0.4"/>
   <arg name="publish_deprojections" default="True"/>
 
    <arg name="labels" 
	    default=""/>
    
    <include file="$(find open_vocab_vision_ros)/launch/grounding_dino.launch" pass_all_args="true"/>

</launch>
