<launch>
    <arg name="input" default="/zed2i/zed_node/rgb/image_rect_color"/>
    <arg name="output" default="/grounding_dino_ros/pred"/>
    <arg name="weights" default="$(find open_vocab_vision_ros)/checkpoints"/>
    <arg name="drop" default="true"/>
    <arg name="confidence" default="0.5"/>
    <arg name="labels" default=""/>

    <arg name="viz" default="true"/>
    
    <!-- don't consider detections farther than this -->
    <arg name="depth_threshold" default="12"/>

    <!-- cluster detections within this threshold into same object-->
    <arg name="distance_threshold" default="2"/>

    <!-- divide depth image by this much to get metric value -->
    <arg name="depth_scale" default="1000"/>

    <!-- sleep call between detections -->
    <arg name="detect_period" default="0.001"/>

    <arg name="n_track_thresh" default="10"/>

    <arg name="publish_deprojections" default="True"/>

    <arg name="vlm" default="true"/>

    <include file="$(find open_vocab_vision_ros)/launch/grounding_dino.launch" pass_all_args="true"/>

    <group if="$(arg vlm)">
        <include file="$(find open_vocab_vision_ros)/launch/vlm_infer.launch">
            <arg name="classes" value="park, road, sidewalk, parking lot, patio, unknown"/>
        </include>
    </group>
</launch>
