<?xml version="1.0" encoding="UTF-8"?>

<launch>
   <arg name="confidence" default="0.4"/>
   <arg name="publish_deprojections" default="True"/>
   <arg name="vlm" default="true">
 
    <arg name="labels" 
	    default="backpack,person,door,elevator,computer,refrigerator,chair,table,robot,street sign,sign,stop sign,trash can,television,monitor,desk,traffic cone,table,box,package,machine,plant"/>
    
    <include file="$(find open_vocab_vision_ros)/launch/grounding_dino.launch" pass_all_args="true"/>

    <group if="$(arg vlm)">
        <include file="$(find open_vocal_visin_ros)/launch/vlm_infer.launch">
            <param name="classes" value="labspace, hallway, office, other"/>
        </include>
    </group>
</launch>
