<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="input" default="/camera/color/image_raw"/>
    <arg name="output" default="/yolo/pred"/>
    <arg name="weights" default="$(find lang_seg_ros)/checkpoints/yolov8x-worldv2.pt"/>
    <arg name="drop" default="true"/>
    <arg name="labels" 
    default="car,person,door,chair,table,robot,street sign,sign,stop sign,lamp pole,trash can"/>

    <arg name="viz" default="true"/>

    <node pkg="image_transport" type="republish"  name="uncompress"
        args="compressed in:=$(arg input) raw out:=$(arg input)">
    </node>

    <node pkg="lang_seg_ros" type="yolo_infer.py" name="yolo_ros" output="screen">
        <param name="input" value="$(arg input)"/>
        <param name="output" value="$(arg output)"/>
        <param name="weights" value="$(arg weights)"/>
        <param name="drop" value="$(arg drop)"/>
        <param name="labels" value="$(arg labels)"/>
    </node>

    <node pkg="lang_seg_ros" type="viz_detections.py" name="viz_detections" output="screen"/>
    
    <node pkg="lang_seg_ros" type="tracker.py" name="tracker_node" output="screen">
	<param name="labels" value="$(arg labels)"/>
    </node>
</launch>
