<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="input" default="/husky/camera/image"/>
    <arg name="depth_aligned_info" default="/husky/camera/camera_info"/>
    <arg name="depth_aligned_img" default="/husky/camera/depth_image"/>
    <arg name="output" default="/yolo/pred"/>
    <arg name="weights" default="$(find open_vocab_vision_ros)/checkpoints/yolov8x-worldv2.pt"/>
    <arg name="drop" default="true"/>
    <arg name="labels" 
    default="car,person,door,chair,table,robot,street sign,sign,stop sign,lamp pole,trash can,boat,cabin,truck,building"/>

    <arg name="vlm" default="true"/>

    <arg name="target_frame" default="world"/>
    <arg name="source_frame" default="husky/camera"/>

    <arg name="viz" default="true"/>
    <arg name="depth_scale" default="1"/>

    <!-- don't consider detections farther than this -->
    <arg name="depth_threshold" default="10"/>

    <!-- cluster detections within this threshold into same object-->
    <arg name="distance_threshold" default="5"/>
    <!-- sleep call between detections -->
    <arg name="detect_period" default="0.1"/>
    <arg name="n_track_thresh" default="5"/>

    <include file="$(find open_vocab_vision_ros)/launch/yolo.launch" pass_all_args="true"/>

    <group if="$(arg vlm)">
        <include file="$(find open_vocab_vision_ros)/launch/vlm_infer_sim.launch"/>
    </group>
</launch>
